@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, textarea, select, button {
  font-size: 12px;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

#root {
  min-height: 100vh;
}
